# python requirements
pip>=9.0
scipy
numpy
# opendr - try installing separately from https://github.com/mattloper/opendr
matplotlib
scikit-image
deepdish>=0.3
opencv-python
absl-py
ipdb
tensorflow-gpu==1.3.0
